<div class="button_margin" >
    <button type="button" class="btn btn-secondary" onclick="window.location.href = 'products/:id'">Atras</button>
</div>

<div class="margin_sides">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre del Producto</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cantidad</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Costo USD</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
      </form>
</div>
