<div class="button_margin" >
    <button type="button" class="btn btn-secondary" routerLink="/products">Atras</button>
</div>

<div class="margin_sides">
    <form [formGroup]="newProductForm"  (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Nombre del Producto</label>
            <input
                [class.is-invalid]="newProductForm.get('productName')?.touched && newProductForm.get('productName')?.invalid"
                type="text" 
                class="form-control" 
                formControlName="productName"
            >
        </div>
        <div class="mb-3">
            <label class="form-label">Cantidad</label>
            <input 
                [class.is-invalid]="newProductForm.get('productAmount')?.touched && newProductForm.get('productAmount')?.invalid"
                type="text" 
                type="number" 
                class="form-control" 
                formControlName="productAmount"
            >
        </div>
        <div class="mb-3">
            <label class="form-label">Costo $ USD</label>
            <input
                [class.is-invalid]="newProductForm.get('productCost')?.touched && newProductForm.get('productCost')?.invalid"
                type="text" 
                class="form-control" 
                formControlName="productCost"
            >
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
      </form>
</div>
