<div class="button_margin" >
    <button type="button" class="btn btn-primary" routerLink="">HOME</button>
</div>
<div class="margin_sides">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Costo USD</th>
                <th>Costo MX</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    {{product.productName}}
                </td>
                <td>
                    {{product.productAmount}}
                </td>
                <td>
                    $ {{product.productCost}}.00
                </td>
                <td></td>
                <td>
                    <div class="d-flex column-gap-3">
                        <button type="button" class="btn btn-danger" (click)="deleteProduct(product.productId)"> Eliminar </button>
                        <button type="button" class="btn btn-secondary" (click)="clickEditProduct(product.productId)"> Editar </button>
                    </div> 
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button_margin">
        <button type="button" class="btn btn-success" routerLink="/newProduct"> Nuevo Producto </button>
    </div>  
</div>
