<div class="button_margin" >
    <button type="button" class="btn btn-primary" onclick="window.location.href = ''">HOME</button>
</div>
<div class="margin_sides">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Costo USD</th>
                <th>Costo MX</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Computadora</td>
                <td>8</td>
                <td>$ 10</td>
                <td>$ 200</td>
                <td>
                    <button type="button" class="btn btn-danger"> Eliminar </button>
                    <button type="button" class="btn btn-secondary"> Detalles </button>
                </td>
            </tr>
            <tr>
                <td>Computadora</td>
                <td>8</td>
                <td>$ 10</td>
                <td>$ 200</td>
                <td>
                    <button type="button" class="btn btn-danger"> Eliminar </button>
                    <button type="button" class="btn btn-secondary"> Detalles </button>
                </td>
            </tr>
            <tr>
                <td>Computadora</td>
                <td>8</td>
                <td>$ 10</td>
                <td>$ 200</td>
                <td>
                    <button type="button" class="btn btn-danger"> Eliminar </button>
                    <button type="button" class="btn btn-secondary"> Detalles </button>
                </td>
            </tr>
            <tr>
                <td>Computadora</td>
                <td>8</td>
                <td>$ 10</td>
                <td>$ 200</td>
                <td>
                    <button type="button" class="btn btn-danger"> Eliminar </button>
                    <button type="button" class="btn btn-secondary"> Detalles </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button_margin">
        <button type="button" class="btn btn-success" onclick="window.location.href = 'newProduct'"> Nuevo Producto </button>
    </div>  
</div>
